# MongoDB Connection String
MONGO_URI=mongodb://localhost:27017/association_db

# Google Vision API Credentials
GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END RSA PRIVATE KEY-----"

# Server Port
PORT=5000

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173

# Expected payment amount (configurable)
EXPECTED_AMOUNT=500
